@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <h1 class="display-3">Bienvenidos!</h1>

    <p>
        <img src="https://img.freepik.com/vector-gratis/vaca-sonriente-ilustracion-vectorial-dibujos-animados_96037-417.jpg?w=500" alt="imgf" />
        </>
    </p>
</div>